/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* define variables */
:root {
    --dark_blue: #0B294D;
    --mid_blue: #11335A;
    --light_blue: #4CA3E5;
    --white: #FFFFFF;
    --gray_blue: #cbd8e6;
    --gray: #dedede;
}

/* reset styling to include padding in width/height */
*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--black1);
}

/* make background blue, font white */
body {
    background-color: black;
    color: var(--white);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* flex container to hold the two views */
.background_container {
    display: flex;
}


/***** STYLING DEVICE *****/
/* create blue rounded rectangle with remaining width of page */
.device_container {
    margin: 30px 15px 80px 0;
    background-color: var(--mid_blue);
    width: calc(100% - 600px);
    border-radius: 8px;
    position: relative;
}

/* create small white box offset from .device_container */
.device_container_box-1 {
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: 500px;
    background-color: var(--gray);
    border-radius: 8px;
}

/* create larger white box offset from .device_container for aesthetics */
.device_container_box-2 {
    position: absolute;
    top: 15px;
    left: 20px;
    width: calc(100% - 40px);
    height: 885px;
    background-color: var(--gray);
    border-radius: 8px;
}

/* create blue rectangle to hold actual screen and buttons in, offset from .device_container */
.device_container_box-3 {
    position: absolute;
    top: 30px;
    left: 35px;
    width: calc(100% - 70px);
    height: 855px;
    background-color: #1b304a;
    border-radius: 8px;
}

/* create black container for .screen_glass */
.screen_container {
    margin: 7.5px;
    height: 300px;
    width: calc(100% - 15px);
    background-color: black;
    border-radius: 4px;
}

/* create container for the actual display to go */
.screen_glass {
    margin: 1px 20px;
    height: 300px;
    width: calc(100% - 40px);
    background-color: #7f97a9;
    border-radius: 4px;
}

/* flex container to align buttons on x and y axis */
.device_btn_groups {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* stylizing actual button icons to standard height, width */
.device_btn {
    width: 40px;
    padding: 10px;
    height: 40px;
}

/* set height of left group container */
.device_left_group {
    position: relative;
    height: 80px;
}

/* offset pm group from .device_left_group */
.pm_container {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: column;
}

/* offset lr group from .device_left_group */
.lr_container {
    display: flex;
    position: absolute;
    top: 20px;
    gap: 5px;
}

/* flex container for middle buttons */
.device_middle_group {
    display: flex;
}

/* flex column container for right buttons */
.device_right_group {
    display: flex;
    flex-direction: column;
}

/***** STYLING LEFT PLAYLIST *****/
/* create background container for the left stuff */
.playlist_container {
    margin: 30px 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--mid_blue);
    margin-bottom: 80px;
    width: 600px;
}

/* align two flex items on x axis */
.playlist_header_container {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    padding-bottom: 5px;
}

/* drop shadow: refer to https://www.joshwcomeau.com/css/designing-shadows/ */
#playlist_photo {
    width: 10vw;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
}

/* set title to custom font, include accessible back up fonts */
#playlist_title {
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

.playlist_description {
    list-style: none;
    display: flex;
    gap: 5px;
    color: var(--gray_blue);
}

th {
    text-align: left;
}

/* make dot appear before any list item with a previous list item */
.playlist_description li + li::before {
  content: "•";
  margin-right: 5px; /* or smaller if you want */
}

.playlist_songs h4 {
    font-weight: 400;
    color: var(--white);
}

.playlist_stats h5, .playlist_songs h5 {
    font-weight: 400;
    color: var(--gray);
}

/* create flex container to align music controls on x and y */
footer {
    display: flex;
    gap: 10px;
    background-color: var(--dark_blue);
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
